@charset "utf-8";

#indexbg, .gallery {
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	background-image:-webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0) );
	background-image:-moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0) );
	background-image:-ms-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0) );
	background-image:linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0) );
	filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FF000000,EndColorStr=#40000000);
}


.rgba .scrbar {
	background-color:rgba(0,0,0,0.1);
}
.no-rgba .scrbar {
	background-color:transparent;
	background-image:url(k10.png);
}
.scrup,
.scrdn {
	background-image:url(pg_w.png);
}



